.scale-in-top {
	-webkit-animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }

  /***************************************************************************/


  .scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-hor-right {
        0% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
      }
      @keyframes scale-in-hor-right {
        0% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
      }

/***************************************************************************/

.slit-in-vertical {
	-webkit-animation: slit-in-vertical 1s ease-out both;
	        animation: slit-in-vertical 1s ease-out both;
}


/**
 * ----------------------------------------
 * animation slit-in-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes slit-in-vertical {
        0% {
          -webkit-transform: translateZ(-800px) rotateY(90deg);
                  transform: translateZ(-800px) rotateY(90deg);
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotateY(87deg);
                  transform: translateZ(-160px) rotateY(87deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotateY(0);
                  transform: translateZ(0) rotateY(0);
        }
      }
      @keyframes slit-in-vertical {
        0% {
          -webkit-transform: translateZ(-800px) rotateY(90deg);
                  transform: translateZ(-800px) rotateY(90deg);
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotateY(87deg);
                  transform: translateZ(-160px) rotateY(87deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotateY(0);
                  transform: translateZ(0) rotateY(0);
        }
      }
/***************************************************************************/
.slide-in-elliptic-right-fwd {
	-webkit-animation: slide-in-elliptic-right-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-right-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation slide-in-elliptic-right-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-right-fwd {
        0% {
          -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
                  transform: translateX(800px) rotateY(-30deg) scale(0);
          -webkit-transform-origin: -100% 50%;
                  transform-origin: -100% 50%;
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotateY(0) scale(1);
                  transform: translateX(0) rotateY(0) scale(1);
          -webkit-transform-origin: -1800px 50%;
                  transform-origin: -1800px 50%;
          opacity: 1;
        }
      }
      @keyframes slide-in-elliptic-right-fwd {
        0% {
          -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
                  transform: translateX(800px) rotateY(-30deg) scale(0);
          -webkit-transform-origin: -100% 50%;
                  transform-origin: -100% 50%;
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotateY(0) scale(1);
                  transform: translateX(0) rotateY(0) scale(1);
          -webkit-transform-origin: -1800px 50%;
                  transform-origin: -1800px 50%;
          opacity: 1;
        }
      }
/***************************************************************************/
.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
        0% {
          -webkit-transform: translateZ(600px);
                  transform: translateZ(600px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-bck-center {
        0% {
          -webkit-transform: translateZ(600px);
                  transform: translateZ(600px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }

/***************************************************************************/
      .bounce-in-top {
	-webkit-animation: bounce-in-top 1s both;
	        animation: bounce-in-top 1s both;
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
        0% {
          -webkit-transform: translateY(-500px);
                  transform: translateY(-500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(-65px);
                  transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(-28px);
                  transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      @keyframes bounce-in-top {
        0% {
          -webkit-transform: translateY(-500px);
                  transform: translateY(-500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(-65px);
                  transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(-28px);
                  transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      